
.face {
  fill: gold;
}

.face, .left-ear, .right-ear {
  fill: gold;
}

.mouth {
  fill: none;
  stroke: #000;
  stroke-width: 6px;
  stroke-linecap: round;
}

.left-eyebrow {
  transform: rotate(80deg);
  transform-origin: 100px 82px;
  transition: all .5s linear;
}

.right-eyebrow {
  transform: rotate(100deg);
  transform-origin: 156px 82px;
  transition: all .5s ease-in-out;
}

.jaw {
  transition: all .5s ease-in-out;
}

.smiley: hover .jaw {
  transform: translateY(20px);
}

.smiley:hover .left-eyebrow {
  transform: rotate(100deg);
  transform: translateY(5px);
}

.smiley:hover .right-eyebrow {
  transform: rotate(80deg);
  transform: translateY(5px);
}
